<table id="weldTypeTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        @if (ViewBag.WeldTypes != null)
        {
            foreach (var weldType in ViewBag.WeldTypes)
            {
                <tr>
                    <td>@weldType.Name</td>
                </tr>
            }
        }
    </tbody>
</table>

<br />

<div class="modal-footer">
    <br />
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#limWeldTypeAddModal">+ Add</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
</div>

