<div class="card-body" style="display:block;">

    <table id="thicknessMeasurementTable" class="table table-hover text-sm table-responsive-sm table-sm">
        <thead class="no-border" style="background-color:#C9D6DF;color:#1B262C;font-weight:600">
            <tr>
                <th class="text-sm text-center" style="font-weight:500">Plant Area</th>
                <th class="text-sm text-center" style="font-weight:500">Plant System</th>
                <th class="text-sm text-center" style="font-weight:500">Specification</th>
                <th class="text-sm text-center" style="font-weight:500">Nominal Thickness</th>
                <th class="text-sm text-center" style="font-weight:500">Measured Thickness</th>
                <th class="text-sm text-center" style="font-weight:500">Description</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="button" id="addInspectionDataButton" data-bs-toggle="modal" data-bs-target="#AddInspectionData" style="border: none; background: none;"><i class="bi bi-plus-circle" style="position: absolute; font-size: 2rem; display: block; margin-top: -30px; margin-left: -16px;"></i></button>
        </div>
    </div>
</div>
