<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quartz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css" />*@
    <link href="~/lib/datatable-1.12.1.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark">


            <div class="toast bg-success text-white" id="toastId" role="alert" aria-live="assertive" aria-atomic="true">
                <div id="toastTextContext" class="toast-body" style="height: 45px;">

                </div>
            </div>

            <script>
                var toastOption = {
                    animation: true,
                    delay: 2000
                };

                function toast(toastContext) {
                    var toastId = $("#toastId");
                    var toastElement = new bootstrap.Toast(toastId, toastOption);
                    $("#toastContext").text(toastContext);

                    $("#toastTextContext").append(
                        "<p id='toastContext'><i class='bi bi-check-circle'></i>&nbsp;" + toastContext + "</p>"
                    );

                    toastElement.show();
                    function delay() {
                        $("#toastTextContext").children().remove();
                    }
                    setTimeout(delay, 2300);
                }
            </script>

            <div class="container-fluid my-1">
                <div class="col-lg-2 px-0">
                    <div class="form text-center">
                        @*<label for="type">Choose:</label>*@
                        <select class="form-select-sm" id="type" style="border-radius: 15px;">
                            <option value="None">Move (ctrl + left click to drag)</option>
                            <option value="PolygonItem">Polygon Item</option>
                            <option value="BoxItem">Box Item</option>
                            <option value="PolygonLink">Polygon Link</option>
                            <option value="BoxLink">Box Link</option>
                            <option value="Delete">Delete</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-8 px-0">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <button type="button" id="btnDrawingSettings" class="nav-link text-light btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#drawingSettingsModal" style="border: none; border-radius: 20px;"><strong>Drawing Settings</strong></button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link text-light btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#lookupItemsModal" style="border: none; border-radius: 20px;"><strong>Lookup Items</strong></button>
                            </li>
                            <li class="nav-item">
                                <button type="button" id="x123" class="nav-link text-light btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#drawingSettingsModal" style="border: none; border-radius: 20px;"><strong>User List</strong></button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 px-0">
                </div>
            </div>

        </nav>

        <div>
            @RenderBody()
        </div>
    </div>

    <footer class="bg-dark footer py-3 text-light" style="border: none;">
        <p class="mb-0 text-end">&copy; 2022 - Quartz - Görkem &nbsp; &nbsp; &nbsp;</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
