@model QuartzLink

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/ol.css" rel="stylesheet" />

<!-- #region Home Page -->
<div class="container-fluid">
    <!-- #region Breadcrumbs -->
    <div class="row text-light text-center" style="background: #373a3e; height: 25px;">
        <div class="col-lg-2" style="border-right: 1px solid #212529;">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="col-lg-8" style="border-right: 1px solid #212529; height: 25px;">
            <span>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente ratione repellat officia ullam possimus
                pariatur atque sed iusto minus illo, facere placeat nisi. Officiis veniam
            </span>

        </div>

        <div class="col-lg-2">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

        </div>
    </div>
    <!-- #endregion -->
    <!-- #region List Panel | Quartz Panel | Search Panel -->
    <div class="row">
        <div class="col-lg-2 px-0" id="listPanel" style="border: none;">
            @await Html.PartialAsync("/Views/Shared/Partial/HomePage/ListPanelPartial.cshtml")
        </div>

        <div class="col-lg-8 px-0" id="main">
            <div style="height: 85vh"></div>
            @*@await Html.PartialAsync("/Views/Shared/Partial/HomePage/QuartzPartial.cshtml")*@
        </div>

        <div class="col-lg-2 px-0">
            @await Html.PartialAsync("/Views/Shared/Partial/HomePage/SearchPanelPartial.cshtml")
        </div>
    </div>
    <!-- #endregion -->
</div>
<!-- #endregion -->
<!-- #region Link Modal -->
<div class="modal fade" id="linkModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content" style="height: 40vh;">
            <div class="modal-header" style="background-color: #F3F5F7;">
                <h5 class="modal-title" id="linkModalName">Link Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="card-body" style="display: block;">

                        <div class="row">
                            <div class="col-lg-6">
                                <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Tag No</span>
                                <input type="text" id="addLinkTagNo" class="form-control">
                            </div>

                            <div class="col-lg-6">

                            </div>
                        </div>

                        <br>
                        <hr>

                        <div class="row">
                            <div class="text-center">
                                <span style="color: #8F8F95; font-size: 1em; font-weight:500 "></span>
                                <button id="btnAddLinkUploadDrawing" type="button" class="btn btn-dark" style="border: none; width:150px; border-radius: 20px;">Upload Drawing</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <br>
                                <div id="AddLinkUploadDrawingArea" class="row" hidden>
                                    <div class="col-lg-12">
                                        <label for="addLinkUploadDrawing" style="border-radius: 20px;" class="btn btn-primary">Choose</label>
                                        <input id="addLinkUploadDrawing" type="file" hidden>
                                        <button type="button" class="btn btn-success" style="border-radius: 20px; color: white;" onclick="uploadFile(0, 'link')">Upload</button>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color: #F3F5F7;">
                <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Show Label</span>
                <input id="showLabel" type="checkbox" name="showLabel" /> &nbsp;&nbsp;
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                        style="border:none;border-radius:0px">
                    Close
                </button>
                <button type="button" class="btn btn-danger" style="border:none;border-radius:0px">Delete</button>
                <button type="button" class="btn btn-primary" style="border:none;border-radius:0px">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Item Modal -->
<div class="modal fade" id="itemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F3F5F7;">
                <h5 class="modal-title" id="itemModalName">Item Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente ratione repellat officia ullam possimus
                pariatur atque sed iusto minus illo, facere placeat nisi. Officiis veniam nesciunt tenetur blanditiis ratione
                laboriosam?
            </div>
            <div class="modal-footer" style="background-color: #F3F5F7;">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px;">Close</button>
                <button type="button" class="btn btn-info" style="border:none;">Delete</button>
                <button type="button" class="btn btn-info" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Drawing Settings Modal (#DSM) -->
<input id="dsmId" value="" hidden />
<div class="modal fade" id="drawingSettingsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" , aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F3F5F7;">
                <div class="col-lg-6">
                    <input class="modal-title" id="dsmName" value="asdas" disabled style="border: none; font-weight: 500; font-size: large;" />
                </div>

                <div class="col-lg-6">
                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Drawing No</span>
                        <input type="text" id="dsmDrawingNo" class="form-control">
                    </div>

                    <div class="col-lg-6">
                        <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Drawing Description</span>
                        <input type="text" id="dsmDrawingDescription" class="form-control">
                    </div>
                </div>

                <br /><br />

                <div class="row">
                    <div class="col-lg-6">
                        <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Plant Area</span>
                        <select class="form-select" id="dsmPlantArea">
                        </select>
                    </div>

                    <div class="col-lg-6">
                        <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Plant System</span>
                        <select class="form-select" id="dsmPlantSystem">
                        </select>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-lg-6">
                        <span style="color: #8F8F95; font-size: 1em; font-weight:500">Drawing File: </span>
                        <input type="text" id="dsmFile" class="" style="border: none; background-color: white;" disabled value="file not found!">
                    </div>

                    <div class="col-lg-6">

                    </div>
                </div>

                <br />

                <!-- #region Upload Drawing Button -->
                <div class="row">
                    <div class="text-center">
                        <span style="color: #8F8F95; font-size: 1em; font-weight:500 "></span>
                        <button id="btnDsmUploadDrawing" type="button" class="btn btn-dark" style="border: none; width:150px; border-radius: 20px;">Upload Drawing</button>
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region Upload Drawing Area -->
                <div class="row">
                    <div class="text-center">
                        <br>
                        <div id="dsmUploadDrawingArea" class="row" hidden>
                            <div class="col-lg-12">
                                <label for="dsmUploadDrawing" style="border-radius: 20px;" class="btn btn-primary">Choose</label>
                                <input id="dsmUploadDrawing" type="file" hidden>
                                <button type="button" class="btn btn-success" style="border-radius: 20px; color: white;" onclick="uploadFile(dsmId, 'drawingSettings')">Upload</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <!-- #endregion -->
            </div>

            <!-- #region Footer -->
            <div class="modal-footer" style="background-color: #F3F5F7;">
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary" id="btnDsmSave">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            <!-- #endregion -->

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Lookup Items Modal Modal (#LIM) -->
<!-- #region General Modal -->
<div class="modal fade" id="lookupItemsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F3F5F7; border-bottom: 2px solid #dadcde">
                <h5 id="limTitle" class="modal-title">Lookup Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <ul class="spec nav" role="tablist" id="limNav">
                        <li class="active nav-item limListA"><a class="nav-link" href="#limStatus" data-toggle="tab">Status</a></li>
                        <li class="nav-item limListB"><a role="tab" class="nav-link" href="#limPlantArea" data-toggle="tab">Plant Area</a></li>
                        <li class="nav-item limListA"><a role="tab" class="nav-link" href="#limPlantSystem" data-toggle="tab">Plant System</a></li>
                        <li class="nav-item limListB"><a role="tab" class="nav-link" href="#limOperator" data-toggle="tab">Operator</a></li>
                        <li class="nav-item limListA"><a role="tab" class="nav-link" href="#limMethod" data-toggle="tab">Method</a></li>
                        <li class="nav-item limListB"><a role="tab" class="nav-link" href="#limProcedure" data-toggle="tab">Procedure</a></li>
                        <li class="nav-item limListA"><a role="tab" class="nav-link" href="#limTechnique" data-toggle="tab">Technique</a></li>
                        <li class="nav-item limListB"><a role="tab" class="nav-link" href="#limComponentType" data-toggle="tab">Component Type</a></li>
                        <li class="nav-item limListA"><a role="tab" class="nav-link" href="#limStandardStatement" data-toggle="tab">Stand. Statement</a></li>
                        <li class="nav-item limListB"><a role="tab" class="nav-link" href="#limSpecification" data-toggle="tab">Specification</a></li>
                        <li class="nav-item limListA"><a role="tab" class="nav-link" href="#limFittingType" data-toggle="tab">Fitting Type</a></li>
                        <li class="nav-item limListB"><a role="tab" class="nav-link" href="#limWeldType" data-toggle="tab">Weld Type</a></li>
                    </ul>
                </div>

                <div class="col-lg-10" id="limPartialArea">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Component Type Add Modal -->
<div class="modal fade" id="limComponentTypeAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limComponentTypeAddModalName" type="text" class="form-control" placeholder="Enter New Component Type" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addComponentType()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Fitting Type Add Modal -->
<div class="modal fade" id="limFittingTypeAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limFittingTypeAddModalName" type="text" class="form-control" placeholder="Enter New Fitting Type" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addFittingType()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Method Add Modal -->
<div class="modal fade" id="limMethodAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limMethodAddModalName" type="text" class="form-control" placeholder="Enter New Method Name" style="border: none; background: #f3f5f7;">
                <br />
                <input id="limMethodAddModalCode" type="text" class="form-control" placeholder="Enter New Method Code" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addMethod()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Operator Add Modal -->
<div class="modal fade" id="limOperatorAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limOperatorAddModalName" type="text" class="form-control" placeholder="Enter New Operator" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addOperator()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Plant Area Add Modal -->
<div class="modal fade" id="limPlantAreaAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limPlantAreaAddModalName" type="text" class="form-control" placeholder="Enter New Plant Area Name" style="border: none; background: #f3f5f7;">
                <br />
                <input id="limPlantAreaAddModalCode" type="text" class="form-control" placeholder="Enter New Plant Area Code" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addPlantArea()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Plant System Add Modal -->
<div class="modal fade" id="limPlantSystemAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limPlantSystemAddModalName" type="text" class="form-control" placeholder="Enter New Plant System " style="border: none; background: #f3f5f7;">
                <br />
                <select id="limPlantSystemAddModalLookUpItemsPlantAreas" class="form-select">
                </select>

                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addPlantSystem()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Procedure Add Modal -->
<div class="modal fade" id="limProcedureAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limProcedureAddModalName" type="text" class="form-control" placeholder="Enter New Procedure" style="border: none; background: #f3f5f7;">
                <br />
                <select id="limProcedureAddModalLookUpItemsMethod" class="form-select">
                </select>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addProcedure()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Specification Add Modal -->
<div class="modal fade" id="limSpecificationAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limSpecificationAddModalName" type="text" class="form-control" placeholder="Enter New Specification" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addSpecification()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Standard Statement Add Modal -->
<div class="modal fade" id="limStandardStatementAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limStandardStatementAddModalName" type="text" class="form-control" placeholder="Enter New Standard Statement" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addStandardStatement()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Status Add Modal -->
<div class="modal fade" id="limStatusAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limStatusAddModalName" type="text" class="form-control" placeholder="Enter New Status" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addStatus()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Technique Add Modal -->
<div class="modal fade" id="limTechniqueAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limTechniqueAddModalName" type="text" class="form-control" placeholder="Enter New Technique" style="border: none; background: #f3f5f7;">
                <br />
                <select id="limTechniqueAddModalLookUpItemsProcedure" class="form-select">
                </select>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addTechnique()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Weld Type Add Modal -->
<div class="modal fade" id="limWeldTypeAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <input id="limWeldTypeAddModalName" type="text" class="form-control" placeholder="Enter New Weld" style="border: none; background: #f3f5f7;">
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="addWeldType()" data-bs-dismiss="modal">Save</button>
                    </div>

                    <div class="col-lg-6">
                        <button type="button" class="btn btn-danger" style="width:100%;" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #endregion -->

@section Scripts {

    <!-- #region Script Sources -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.18.3/minified.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
    <script src="~/js/ol.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/quartz.js"></script>
    <script src="~/js/quartzLink.js"></script>
    <script src="~/js/quartzItem.js"></script>
    <script src="~/js/drawingSettings.js"></script>
    <script src="~/js/drawingFeatures.js"></script>
    <script src="~/js/fileUpload.js"></script>
    <script src="~/js/lookupItems.js"></script>
    <!-- #endregion -->

    <script>

        $(".exportBtn").click(function () {
            var json = new ol.format.GeoJSON().writeFeatures(vectorLayer.getSource().getFeatures(), {
                dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'
            });
            console.log(json);
        });

    </script>
}