<div style="background-color: #F3F5F7; height: 100%">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <p class="pb-2 px-0 text-center" style="background: #c2c4c5"><strong>Items & Links</strong></p>
                </div>
            </div>
        </div>
        <div id="shapeArea" class="text-center"></div>
    </div>
</div>