<div style="background-color: #F3F5F7; height: 100%;">

    @*<div class="row">
            <div class="col-lg-12">
                <input type="file" accept="images/*" id="imageUpload" class="form-control" onchange="imageUploadFunction()" />
            </div>
        </div>*@

    @*<button type="button" class="exportBtn"><span>geoJSON</span></button>*@

    @*<ul class="denemeler123">
        <li class="x1" onclick="ggg(this.value)" value="1">görkem</li>
        <li class="x1" onclick="ggg(this.value)" value="2">akçay</li>
        <li class="x1" onclick="ggg(this.value)" value="3">deneme1</li>
        <li class="x1" onclick="ggg(this.value)" value="4">deneme2</li>
        <li class="x1" onclick="ggg(this.value)" value="5">deneme3</li>
    </ul>*@

    @*<button id="vbv">x</button>
    <button id="focusLastFeature">focus last feature</button>
    <button id="getFeatures">get features</button>
    <button id="getCurrenFeature">get current feature</button>*@
</div>

@*<script>
    function ggg(value) {
        $($(".x1").get().reverse()).each(function () {
            if ($(this).val() == value) {
                return false;
            }
            else $(this).remove();
        });
    }
</script>*@