<div style="background-color: #F3F5F7; height: 100%;">

    <div class="accordion">
        <span class="target-fix" id="accordion"></span>

        <!-- 1. Accordion Option -->
        <div>
            <span class="target-fix" id="accordion1"></span>

            <a href="#accordion1" id="open-accordion1" title="open">Search Drawing</a>

            <a href="#accordion" id="close-accordion1" title="close">Search Drawing</a>

            <div class="accordion-content">
                <input class="form-control" type="text" placeholder="Tag No" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="Description" style="margin-bottom: 10px; border: none;" />

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Plant Area</option>
                    <option value="value">Plant Area 1</option>
                    <option value="value">Plant Area 2</option>
                </select>

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Plant System</option>
                    <option value="value">Plant System 1</option>
                    <option value="value">Plant System 2</option>
                </select>

                <button class="btn" style="width: 100%; border: none; border-radius: 5px; background: #808080; color: white;">Search</button>
            </div>
        </div>

        <!-- 2. Accordion Option -->
        <div>
            <span class="target-fix" id="accordion2"></span>
            <a href="#accordion2" id="open-accordion2" title="open">Search Tag</a>
            <a href="#accordion" id="close-accordion2" title="close">Search Tag</a>
            <div class="accordion-content">
                <input class="form-control" type="text" placeholder="Plant Ident/Tag No" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="Original Ident/Serial No" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="Description" style="margin-bottom: 10px;" />

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Fitting Type</option>
                    <option value="value">Fitting Type 1</option>
                    <option value="value">Fitting Type 2</option>
                </select>

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Weld Type</option>
                    <option value="value">Weld Type 1</option>
                    <option value="value">Weld Type 2</option>
                </select>

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Plant Area</option>
                    <option value="value">Plant Area 1</option>
                    <option value="value">Plant Area 2</option>
                </select>

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Plant System</option>
                    <option value="value">Plant System 1</option>
                    <option value="value">Plant System 2</option>
                </select>

                <button class="btn btn-primary" style="width: 100%; border: none; border-radius: 5px; background: #808080;">Search</button>
            </div>
        </div>

        <!-- 3. Accordion Option -->
        <div>
            <span class="target-fix" id="accordion3"></span>
            <a href="#accordion3" id="open-accordion3" title="open">Search Inspection</a>
            <a href="#accordion" id="close-accordion3" title="close">Search Inspection</a>
            <div class="accordion-content">
                <input class="form-control" id="inspectionFilterReportNo" type="text" placeholder="Report No" style="margin-bottom: 10px;" />

                <input class="form-control" id="inspectionFilterDetails" type="text" placeholder="Details" style="margin-bottom: 10px;" />

                <input class="form-control" id="inspectionFilterDate" type="text" onfocus="(this.type='date')" placeholder="Date From" style="margin-bottom: 10px;" />
                                                  
                <input class="form-control" id="inspectionFilterDueDate" type="text" onfocus="(this.type='date')" placeholder="Date To" style="margin-bottom: 10px;" />

                <select class="form-select" id="inspectionFilterStatus" style="margin-bottom: 10px;">
                    <option value="select" selected hidden>Select Status</option>
                    <option value="Status 1">Status 1</option>
                    <option value="Status 2">Status 2</option>
                </select>

                <select class="form-select" id="inspectionFilterTechnique" style="margin-bottom: 10px;">
                    <option value="select" selected hidden>Select Technique</option>
                    <option value="Technique 1">Technique 1</option>
                    <option value="Technique 2">Technique 2</option>
                </select>

                <select class="form-select" id="inspectionFilterMethod" style="margin-bottom: 10px;">
                    <option value="select" selected hidden>Select Method</option>
                    <option value="Method 1">Method 1</option>
                    <option value="Method 2">Method 2</option>
                </select>

                <select class="form-select" id="inspectionFilterProcedure" style="margin-bottom: 10px;">
                    <option value="select" selected hidden>Select Procedure</option>
                    <option value="Procedure 1">Procedure 1</option>
                    <option value="Procedure 2">Procedure 2</option>
                </select>

                <button class="btn btn-primary" style="width: 100%; border: none; border-radius: 5px; background: #808080;" onclick="filterInspection()" data-bs-toggle="modal" data-bs-target="#searchPanelsModal">Search</button>
            </div>
        </div>

        <!-- 4. Accordion Option -->
        <div>
            <span class="target-fix" id="accordion4"></span>
            <a href="#accordion4" id="open-accordion4" title="open">Search Valve Maintenance</a>
            <a href="#accordion" id="close-accordion4" title="close">Search Valve Maintenance</a>
            <div class="accordion-content">
                <input class="form-control" type="text" placeholder="KKS No" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="Serial No" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="PSV Supplier Manufacturare" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="Designation" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="Remarks" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" onfocus="(this.type='date')" placeholder="Test Date" style="margin-bottom: 10px;" />

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Plant Area</option>
                    <option value="value">Plant Area 1</option>
                    <option value="value">Plant Area 2</option>
                </select>

                <button class="btn btn-primary" style="width: 100%; border: none; border-radius: 5px; background: #808080;">Search</button>
            </div>
        </div>

        <!-- 5. Accordion Option -->
        <div>
            <span class="target-fix" id="accordion5"></span>
            <a href="#accordion5" id="open-accordion5" title="open">Search Thickness Measurement</a>
            <a href="#accordion" id="close-accordion5" title="close">Search Thickness Measurement</a>
            <div class="accordion-content">
                <input class="form-control" type="text" placeholder="Nominal Thickness" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="Measured Thickness" style="margin-bottom: 10px;" />

                <input class="form-control" type="text" placeholder="Description" style="margin-bottom: 10px;" />

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Specification</option>
                    <option value="value">Select Specification 1</option>
                    <option value="value">Select Specification 2</option>
                </select>

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Plant Area</option>
                    <option value="value">Plant Area 1</option>
                    <option value="value">Plant Area 2</option>
                </select>

                <select class="form-select" style="margin-bottom: 10px;">
                    <option value="value" selected hidden>Select Plant System</option>
                    <option value="value">Plant System 1</option>
                    <option value="value">Plant System 2</option>
                </select>

                <button class="btn btn-primary" style="width: 100%; border: none; border-radius: 5px; background: #808080;">Search</button>
            </div>
        </div>
    </div>

</div>