<div style="background-color: #F3F5F7; height: 100%;">

    @*<div class="row">
            <div class="col-lg-12">
                <input type="file" accept="images/*" id="imageUpload" class="form-control" onchange="imageUploadFunction()" />
            </div>
        </div>*@

    @*<button type="button" class="exportBtn"><span>geoJSON</span></button>*@

    @*<ul class="denemeler123">
            <li class="x1" onclick="ggg(this.value)" value="1">görkem</li>
            <li class="x1" onclick="ggg(this.value)" value="2">akçay</li>
            <li class="x1" onclick="ggg(this.value)" value="3">deneme1</li>
            <li class="x1" onclick="ggg(this.value)" value="4">deneme2</li>
            <li class="x1" onclick="ggg(this.value)" value="5">deneme3</li>
        </ul>*@

    @*<button id="vbv">x</button>
        <button id="focusLastFeature">focus last feature</button>
        <button id="getFeatures">get features</button>
        <button id="getCurrenFeature">get current feature</button>*@

    @*<button data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Tooltip on right">
            Tooltip
        </button>*@

    @*<button class="btn btn-primary" onclick="deleteBtn()">delete</button>*@

    @*<button class="btn btn-success x" id="asd">link</button>*@




    @*<div id="modal-container">
            <div class="modal-background">
                <div class="modal">
                    <h2>I'm a Modal</h2>
                    <p>Hear me roar.</p>
                    <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="50%" height="100%" preserveAspectRatio="none">
                        <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
                    </svg>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="buttons">
                <div id="five" class="button">Meep Meep</div>
            </div>
        </div> *@

    @*<div class="row d-flex justify-content-center mt-100">
            <div class="col-md-6">
                <select id="choices-multiple-remove-button" data-placeholder="Select upto 5 tags">
                    <option value="HTML">HTML</option>
                    <option value="Jquery">Jquery</option>
                    <option value="CSS">CSS</option>
                    <option value="Bootstrap 3">Bootstrap 3</option>
                    <option value="Bootstrap 4">Bootstrap 4</option>
                    <option value="Java">Java</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Angular">Angular</option>
                    <option value="Python">Python</option>
                    <option value="Hybris">Hybris</option>
                    <option value="SQL">SQL</option>
                    <option value="NOSQL">NOSQL</option>
                    <option value="NodeJS">NodeJS</option>
                </select>
            </div>
        </div>*@

    @*<select class="select2" multiple="" data-placeholder="Select a State" style="width: 100%;">
            <option>Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
        </select>

        <select class="select2" multiple data-placeholder="Select Plant Area(s)" style="width: 100%">
            <option>x1</option>
            <option>x2</option>
            <option>x3</option>
        </select>*@

    @*<select id="12142142132132423" multiple="" data-placeholder="Select Plant Area(s)" style="width: 100%;">
    </select>*@

    @*<button type="button" class="addLookupItemButton">asdasdasdad</button>*@

    @*<button type="button" class="addLookupItemButton" data-bs-toggle="modal" data-bs-target="#limComponentTypeAddModal" style="border: none; background: none;"><img src="~/lib/bootstrap-icons-1.9.1/plus-circle.svg" style="position: absolute; width: 32px; display: block; margin-top: -20px; margin-left: -16px;" /></button>*@
</div>

@*<script>
        function ggg(value) {
            $($(".x1").get().reverse()).each(function () {
                if ($(this).val() == value) {
                    return false;
                }
                else $(this).remove();
            });
        }
    </script>*@
